<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyframework.mybatis.UserMapper">
	<resultMap id="BaseResultMap" type="com.easyframework.model.User">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="username" jdbcType="VARCHAR" property="username" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="nickName" jdbcType="VARCHAR" property="nickName" />
		<result column="sex" jdbcType="INTEGER" property="sex" />
		<result column="registerDate" jdbcType="TIMESTAMP" property="registerDate" />
	</resultMap>


	<select id="findListByMap" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		select * from user where 1=1
		<if test="null!=id and ''!=id">
			and id = #{id}
		</if>
		<if test="null!=username and ''!=username">
			and username like concat('%',#{username},'%')
		</if>
		<if test="field!=null and order!=null">
			order by ${field} ${order}
		</if>
		<if test="startNum!=null and pageSize!=null">
			limit ${startNum},${pageSize}
		</if>
	</select>

	<select id="findCountByMap" parameterType="java.util.Map" resultType="int">
		select count(*)
		from user
		where 1=1
		<if test=" null != id">
			and id = #{id}
		</if>
		<if test=" null != username">
			and username = #{username}
		</if>
	</select> 

</mapper>